<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hp.extracredit">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PrintActivity" />

        <service
            android:name="com.hp.impulselib.ImpulseService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.hp.impulselib.MaltaService"
            android:enabled="true" />

        <!-- Android Print Service requirements -->
        <service
            android:name=".ImpulsePrintService"
            android:permission="android.permission.BIND_PRINT_SERVICE">
            <intent-filter>
                <action android:name="android.printservice.PrintService" />
            </intent-filter>

            <meta-data
                android:name="android.printservice"
                android:resource="@xml/impulse_print_service" />
        </service>

        <activity
            android:name=".MoreOptionsActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/title_activity_more_options"
            android:permission="android.permission.START_PRINT_SERVICE_CONFIG_ACTIVITY" />
        <activity
            android:name=".DeviceScanActivity"
            android:label="BLE Device Scan"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name=".LeDeviceControlActivity"
            android:theme="@android:style/Theme.Holo.Light" />

        <service
            android:name="com.hp.impulselib.MaltaGATTService"
            android:enabled="true" />

        <activity
            android:name=".ui.ScannedItemsActivity"
            android:label="Scanned Item"
            android:logo="@drawable/about_icon"
            android:theme="@style/myAppTheme" />
        <activity
            android:name=".ui.PostedImageActivity"
            android:label="Posted Item"
            android:logo="@drawable/about_icon"
            android:theme="@style/myAppTheme" />
        <activity
            android:name=".ui.SocialFriendsActivity"
            android:label="My Friends"
            android:logo="@drawable/about_icon"
            android:theme="@style/myAppTheme" />
        <activity
            android:name=".ui.MyRewardsActivity"
            android:label="My Rewards"
            android:logo="@drawable/about_icon"
            android:theme="@style/myAppTheme" />
        <activity android:name=".LinkEmbedActivity" />
        />
        <activity
            android:name=".CameraActivity"
            android:label="Camera"
            android:logo="@drawable/about_icon"
            android:theme="@style/myAppTheme" />
        <activity
            android:name=".ui.LinkActivity"
            android:label="@string/title_activity_link"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.LinkActivity"
            android:label="@string/title_activity_link"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>